{{ include('content/navbar.html.twig') }}
{{ include('content/slidebar.html.twig') }}


<div class="pcoded-content">
    <div class="container mt-4">
        Mes taches
    </div>
</div>

{{ include('content/data.html.twig') }}
